.nextagram-title {
    margin-top: 100px;
}

.nextagram {
    font-size: 300%;
}

.team-name {
    font-size: 150%;
    margin-bottom: 50px;
}

.nextagram-about {
    font-size: 180%;
}

.nextagram-description {
    font-size: 150%;
    text-align: justify;
}

.challenge {
    background-color:rgba(29, 25, 25, 0.979);
    color: white;
    padding: 50px;
}

.challenge-description {
    margin-top: 50px;
    font-size: 150%;
    text-align: justify;
}

.learnings {
    background-color: lightgray;
}

.learnings-title {
    margin-top: 50px;
    font-size: 180%;
    font-family: "Poppins", sans-serif;
}

.learnings-description {
    font-size: 150%;
    margin-top: 50px;
}

.outcome-description {
    font-size: 150%;
}

.outcome-button {
    height: 50px;
    width: 150px;
}

.footer-texts {
    font-family: 'Playfair Display', sans-serif;
    margin-top: 50px;
    margin-bottom: 50px;
    color: white;
    font-size: 150%;
}

.footer-text2 {
    margin-top: 50px;
    margin-bottom: 50px;
    color: white;
    font-size: 110%;
}