.navbar-button {
    width: 130px;
    height: 50px;
}

.navbar-brand {
    font-weight: bold;
    font-size: larger;
    text-transform: uppercase;
    color: black !important;
}

.work{
    color: black !important;
    font-size: large;
    position: relative;
}
  
.work::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2px;
    background-color: rgb(24, 23, 23);
    transform-origin: bottom right;
    transform: scaleX(0);
    transition: transform 0.5s ease;
  }
  
  .work:hover::before {
    transform-origin: bottom left;
    transform: scaleX(1);
  }

.navbar {
    padding: 20px;
    padding-left: 60px;
    padding-right: 60px;
    background-color: transparent;
}

.navbar.active {
    background-color: white;
}

@media (max-width: 991px){
    .navbar{
        background-color:white;
    }
    .nav {
        background-color:white;
        height: 100vh;
    }
    .work {
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        font-size: x-large;
        font-weight: bold;
    }
    .navbar-button{
        height: 70px;
        width: 50%;
        color: white !important;
        background: black;
        opacity: 0.8;
        position: absolute;
        top: 70%;
        left: 50%;
        transform: translate(-50%);
        
    }

    .socialIcon {
        position: relative;
        margin-bottom: 20px;
        top: 20%;
        left: 50%;
        transform: translate(-50%,-50%);

    }
    
}

body {
    background-color: white;
}

